@page "/"

<PageTitle>Number Generator</PageTitle>

<h1 class="results">@_result</h1><br/>
<form onsubmit="@GenerateNumbers">
    <label>Min:</label>
    <input type="number" @bind="_min" /> <br/>
    <label>Max:</label>
    <input type="number" @bind="_max"/><br />
    <button type="submit">Generate</button>
</form>

@code {
    private int _min;
    private int _max = 100;
    private String _result = "Result";

    private void GenerateNumbers()
    {
        var random = new Random();
        _result = _min <= _max ? random.Next(_min, _max).ToString() : "Min must be less than Max";
    }
}